# Data Science Tools and Ecosystem

# In this notebook, Data Science Tools and Ecosystem are summarized.

# Some of the key takeaways from the course:

**Objectives:**

- List popular languages for Data Science
- Introduce common libraries used in Data Science
- Demonstrate basic arithmetic operations in code cells
- Convert minutes to hours using Python
- Showcase the use of Markdown cells for documentation

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

# Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Scikit-learn

| Data Science Tools |
| ----------------- |
| Jupyter Notebook  |
| RStudio           |
| PyCharm           |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
print("The result is:", result)

The result is: 17

In [3]:
# This will convert 200 minutes to hours by dividing by 60
minutes = 200
hours = minutes / 60
print("200 minutes is equal to", hours, "hours")

200 minutes is equal to 3.3333333333333335 hours

## Author
Alberto Hurtado